
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observatory System for Monitoring Road Accident</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <div class="container">
        <header>
            <h1>Observatory System for Monitoring Road Accident in Nigeria</h1>
            <h2>Case Study: Kogi State</h2>
        </header>

        <!-- Flash Message Display Section -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Prediction Result Display -->
        {% if prediction %}
         <div id="result" class="result">{{prediction}}</div>
         {% endif %}
        <!-- Link Back to Form -->
     <a href="{{ url_for('form') }}" class="btn">Back to Prediction Form</a>
    </div>
    
</body>
</html>
